<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>INF 362 - Spring 2014 - Unit 4: Interaction/Automation</title>

  <meta name="description" content="Interaction/Automation">
  <meta name="author" content="Eric Steinborn">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="css/reveal.min.css">
  <link rel="stylesheet" href="css/theme/default.css" id="theme">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
  document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
        <section>
            <h2>CCI Day Info</h2>
            <p>Firstly, what are your class needs? How much time are your students going to want to present? A half hour? An hour? The whole two hours? Do you want to give your students a sign up sheet in order to choose a time block, or assign the students blocks yourself? These are the next few details to be finalized in order to create a schedule, as it varies class by class.</p>
        </section>
        <section>
            <h2>CCI Day Info</h2>
            <p>The next piece of information could go two ways. What is needed is a general title describing what (a) either the class is presenting or (b) what individual students/groups are presenting. This will allow for a general map of topics to be created.</p>
        </section>
            <section>
                <h2>Browse to compass-style.org</h2>
                <p>Click Reference</p>
                <p>"examples" are your friends.</p>
            </section>
            <section>
                <h2>We'll be using Sassmeister</h2>
                <p><a href="http://sassmeister.com">http://sassmeister.com</a></p>
                <p>Click HTML (may need to refresh page after enabling)</p>
            </section>
            <section>
                <h2>Start by Importing Compass</h2>
                <p>Your first two lines of a sass file should be:</p>
                <pre><code>@charset "UTF-8";
@import "compass";</code></pre>
            </section>
            <section>
                <h2>Define all link colors in one line</h2>
                <p><pre class="fragment"><code>@include link-colors($normal, $hover, $active, $visited, $focus);</code></pre></p>
            </section>
            <section>
                <h2>Div with box-sizing border-box</h2>
                <p><pre class="fragment"><code>@include box-sizing(border-box);</code></pre></p>
            </section>
            <section>
                <h2>Custom font (2 font types, ttf, woff)</h2>
                <p><pre class="fragment"><code>@include font-face("Name", font-files("name.ttf", "name.woff"));</code></pre></p>
                <p class="fragment">Buuuuuut....</p>
            </section>
            <section>
                <h2>Compass fonts aren't bulletproof</h2>
                <p>For "Bullet-Proof" we use Nicole Sullivan's technique</p>
                <script src="https://gist.github.com/esteinborn/9634484.js"></script>
            </section>
            <section>
                <h2>Icon Fonts</h2>
                <p>You can also use Zurb's Icon fonts</p>
                <p><a href="http://zurb.com/playground/foundation-icon-fonts-3">Foundation Icon Fonts 3</a></p>
                <p><a href="http://fontello.com">Fontello is a viable alternative, it also lets you pick and choose fonts and add your own images as fonts</a></p>
            </section>
            <section>
                <h2>Foundation Icons</h2>
                <p>Create a button with a Star icon to the left of it</p>
                <pre class="fragment"><code class="html">&lt;button&gt;&lt;i class=&quot;fi-star&quot;&gt;&lt;/i&gt; Star&lt;/button&gt;</code></pre>
            </section>
            <section>
                <h2>Sass &amp; Color</h2>
                <p><a href="http://jackiebalzer.com/color">Interactive demo Sass color functions</a></p>
            </section>
            <section>
                <h2>Make a div have 50% opacity</h2>
                <pre class="fragment"><code class="css">@include opacity(50);</code></pre>
                <p class="fragment">Only need this for providing Old IE opacity, if not just use "opacity: .5;"</p>
            </section>
            <section>
                <h2>RGBa Color</h2>
                <p>Opacity affects HEX colors and whatever they contain</p>
                <pre><code>rgba(255, 255, 255, 0.5);</code></pre>
                <p>Give a div #bada55 background color with 70% opacity</p>
                <pre class="fragment"><code class="css">background: rgba(186, 218, 85, 0.7);???</code></pre>
                <pre class="fragment"><code class="css">background: rgba(#bada55, 0.7);</code></pre>
            </section>
            <section>
                <h2>Desktop-ize this Layout</h2>
                <p><a href="http://cdpn.io/KukcH">http://cdpn.io/KukcH</a></p>
            </section>
            <section>
                <h2>Desktop-ize this Layout</h2>
                <p><a href="http://cdpn.io/IjEHF">http://cdpn.io/IjEHF</a></p>
            </section>
            <section>
                <h2>Desktop-ize this Layout</h2>
                <p><a href="http://cdpn.io/kujiz">http://cdpn.io/kujiz</a></p>
            </section>
            <section>
                <h2>Desktop-ize this Layout</h2>
                <p><a href="http://cdpn.io/gqjKr">http://cdpn.io/gqjKr</a></p>
            </section>
            <section>
                <h1>Create this layout</h1>
            </section>
            <section>
                <p><img src="img/svg-fish-homepage.png" alt=""></p>
            </section>
            <section>
                <h2>Link</h2>
                <p><a href="http://cdpn.io/gqjKr">http://cdpn.io/gqjKr</a></p>
            </section>
            <section>
                <p><img src="img/svg-fish-homepage-w-hints.png" alt=""></p>
            </section>
            <section>
                <h2>If Statements</h2>
                <p><a href="http://cdpn.io/rLAih">http://cdpn.io/rLAih</a></p>
            </section>
            <section>
                <h2>If | Else Statements</h2>
                <p><a href="http://cdpn.io/imcwd">http://cdpn.io/imcwd</a></p>
            </section>
            <section>
                <h2>Compress that Code</h2>
                <p><a href="http://skalman.github.io/UglifyJS-online/">http://skalman.github.io/UglifyJS-online/</a></p>
            </section>
            <section>
                <h2>Make an Image Sprite so quick, yo.</h2>
                <p><a href="https://github.com/esteinborn/compass-sprites">https://github.com/esteinborn/compass-sprites</a></p>
                <p><a href="http://bit.ly/inf-sprite-icons">http://bit.ly/inf-sprite-icons</a> - Download this icon pack</p>
                <p>Download this, open in Prepros</p>
                <p>Place icons into /images/my-icons/*.png</p>
            </section>
            <section>
                <h2>Load FastClick</h2>
                <pre><code class="javascript">FastClick.attach(document.body);</code></pre>
            </section>
            <section>
                <h2>Load Fast Click only after load</h2>
                <pre><code class="javascript">if (Element.prototype.addEventListener) {
  window.addEventListener('load', function() {
    FastClick.attach(document.body);
  }, false);
}</code></pre>
            </section>
            <section>
                <h2>Embed this YouTube Video</h2>
                <p><a href="https://www.youtube.com/watch?v=2GWPOPSXGYI">https://www.youtube.com/watch?v=2GWPOPSXGYI</a></p>
            </section>
            <section>
                <h2>jQuery Filtering</h2>
                <p><a href="http://cdpn.io/synix">http://cdpn.io/synix</a></p>
                <p>Filter a table of data by its text content</p>
                <p class="fragment">Using a drop down</p>
                <p class="fragment">Using a type input</p>
            </section>
            <section>
                <h2>Make Your Own Modal</h2>
                <p><a href="http://cdpn.io/HDuev">http://cdpn.io/HDuev</a></p>
                <p>Make a modal slide down from the top of the page</p>
                <p>Send variable back to the main page</p>
            </section>
            <section>
                <h2>Make your own Sticky Sidebar</h2>
                <p><a href="http://cdpn.io/hcqdg">http://cdpn.io/hcqdg</a></p>
                <p>Affix a sidebar to the top of the page after it's been scrolled past</p>
                <p>With JS</p>
                <p>With CSS</p>
            </section>
            <section>
                <h2>Make Your own Tabs</h2>
                <p><a href="http://cdpn.io/fceGr">http://cdpn.io/fceGr</a></p>
            </section>
            <section>
                <h2>Make Your Own Accordion</h2>
                <p><a href="http://cdpn.io/AcyLr">http://cdpn.io/AcyLr</a></p>
            </section>
            <section>
                <h2>Jekyll</h2>
                <ul>
                    <li>A static site generator</li>
                    <li>Create a template</li>
                    <li>Create a page, apply that template</li>
                    <li>Create reusable bits to pull into pages/templates</li>
                </ul>
            </section>    
            <section>
                <h2>Jekyll Structure</h2>
                <pre><code>├── _config.yml</code></pre>
            </section>
            <section>
                <h2>_config.yml</h2>
                <p>This stores all the configuration for Jekyll.</p>
                <p>GH Pages is limited to a certain set of attributes in the file</p>
            </section>
            <section>
                <h2>_config.yml</h2>
                <p>Default</p>
                <pre><code class="jekyll">name: Site Name
markdown: redcarpet
pygments: false
# change baseurl to:
# '': for root level domains ie: mycustomdomain.com
# '/projectname': for subdomains ie: user.github.io/projectname
baseurl: '/projectname'
permalink: :title.html</code></pre>
            </section>
            <section>
                <h2>Jekyll Structure</h2>
                <p>Layouts Folder</p>
                <pre><code>├── _layouts
  ├── default.html
  └── post.html</code></pre>
            </section>
            <section>
                <h2>Jekyll Templates</h2>
                <p>Base Setup _layouts folder -> default.html</p>
                <pre><code class="html">&lt;!doctype html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;body&gt;
  {{ content }}
&lt;/body&gt;
&lt;/html&gt;</code></pre>
            </section>
            <section>
                <h1>{{ content }}</h1>
                <p>It's where the magic happens</p>
            </section>
            <section>
                <h2>It's your page content</h2>
                <pre><code>└── index.html</code></pre>
            </section>
            <section>
                <h2>How to use a template</h2>
                <pre><code class="html">---
layout: default
title: Page Title
---
&lt;div class=&quot;foreground page&quot;&gt;
  &lt;h2&gt;Page Content&lt;/h2&gt;
&lt;/div&gt;</code></pre>
            </section>
            <section>
                <h2>When Built:</h2>
                <pre><code class="html">&lt;!doctype html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;body&gt;
  &lt;div class=&quot;foreground page&quot;&gt;
    &lt;h2&gt;Page Content&lt;/h2&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
            </section>
            <section>
                <h2>Incemplates</h2>
                <p>_layouts/secondary.html</p>
                <pre><code class="html">---
layout: default
title: Page Title
---
&lt;div class=&quot;secondary&quot;&gt;
  {{ content }}
&lt;/div&gt;</code></pre>
            </section>
            <section>
                <h2>Let's talk links</h2>
                <p>You want to link your header image to your site root</p>
                <pre><code class="javascript">&lt;a href=&quot;/&quot;&gt;My Site Root&lt;/a&gt;</code></pre>
                <p class="fragment">nope...</p>
            </section>
            <section>
                <h2>Let's talk links</h2>
                <p>You'll need to use a template link code</p>
                <pre><code class="javascript">&lt;a href=&quot;{{ site.baseurl }}&quot;&gt;My Site Root&lt;/a&gt;</code></pre>
            </section>
            <section>
                <h2>Regular linking works fine if</h2>
                <p>index.html &amp; aboutus.html</p>
                <pre><code class="html">&lt;a href=&quot;index.html&quot;&gt;My Site Root&lt;/a&gt;></code></pre>
                <pre><code class="html">&lt;a href=&quot;aboutus.html&quot;&gt;About Us&lt;/a&gt;></code></pre>
            </section>
            <section>
                <h2>Two templates but same nav &amp; footer?</h2>
                <p>Use _includes !!</p>
                <pre><code>├── _includes
  ├── navigation.html
  └── footer.html
</code></pre>
            </section>
            <section>
                <pre><code class="html">&lt;!doctype html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;body class="one"&gt;
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
&lt;/body&gt;
&lt;/html&gt;</code></pre>
                <pre><code class="html">&lt;!doctype html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;body class="two"&gt;
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
&lt;/body&gt;
&lt;/html&gt;</code></pre>
            </section>
            <section>
                <h2>One last thing...</h2>
                <pre><code class="html">---
layout: default
title: Page Title
---</code></pre>
<p>that's not all you can use</p>
            </section>
            <section>
                <h2>Custom Template attributes</h2>
                <pre><code class="jekyll">---
layout: default
title: Page Title
vendorScripts: ['script1.js', 'script2.js']
customScripts: ['easy-tap.js']
customStyles: ['easy-tap.css']
---</code></pre>
            </section>
            <section>
                <h2>Iterate over them</h2>
                <pre><code class="jeykll">{% for styles in page.customStyles %}
  &lt;link rel=&quot;stylesheet&quot; href=&quot;css/{{ styles }}.css&quot;&gt;
{% endfor %}</code></pre>
                <pre><code class="jeykll">{% for scripts in page.vendorScripts %}
  &lt;script src=&quot;js/{{ styles }}&quot;&gt;
{% endfor %}</code></pre>
            </section>
            <section>
                <h2>All Together Now</h2>
                <pre><code class="">├── _config.yml
├── _includes
|   ├── footer.html
|   └── navigation.html
├── _layouts
|   ├── default.html
|   └── secondary.html
├── aboutus.html
└── index.html</code></pre>
            </section>
            <section>
                <h2>Pushing it to GitHub</h2>
                <p>Github will build the pages for you automatically</p>
                <p>Your gh-pages branch will not show you your output code.</p>
            </section>
            <section>
                <h2>Look through your site find the following</h2>
                <ol>
                    <li>What can be used as an _include?</li>
                    <li>What can be used as a _layout?</li>
                    <li>What will your page contents be?</li>
                    <li>How many layouts will you need?</li>
                </ol>
            </section>
            <section>
                <h2>In your Teams</h2>
                <ol>
                    <li>Create one master template</li>
                    <li>Create any sub templates you may want</li>
                    <li>Convert as much reusable content to includes</li>
                </ol>
            </section>
            <section>
                <h3>Activity Question</h3>
                <p></p>
            </section>
            <section>
                <h2>Topics</h2>
                <ol>
                    <li>Analytcs - http://mashable.com/2011/05/23/how-to-use-google-analytics/</li>
                    <li>Image optim/ 8 bit alpha png</li>
                    <li>Image Sprite http://github.com/esteinborn/compass-sprites/ </li>
                    <li>Asset Concat</li>
                    <li>Asset Minification</li>
                    <li>NPM</li>
                    <li>Grunt - http://css-tricks.com/video-screencasts/130-first-moments-grunt/ - http://24ways.org/2013/grunt-is-not-weird-and-hard/</li>
                    <li>Linting - http://www.jshint.com/about/</li>
                    <li>HTTP request optimization</li>
                    <li>Before vs After</li>
                    <li>JS Perf</li>
                    <li>optimization - http://www.hongkiat.com/blog/ultimate-guide-to-web-optimization-tips-best-practices/</li>
                    <li>mockup to html</li>
                attr()
                hasclass()
                ajax()
                custom event types http://gist.github.com/esteinborn/9398782
                sending data to click and .on methods
                - Vanilla JS
                - Data JSON, YAML
                - SASS Functions
                - CSS Animations
                API's
                gmaps
                CMSs?
                Local storage
                Cookies
                geolocation
                matchmedia
                <li>html 5 video/audio http://www.videojs.com/ http://youtube.com http://vimeo.com</li>
                print stylesheets - http://designshack.net/articles/css/6-thinks-i-learned-about-print-stylesheets-from-html5-boilerplate/
                </ol>
            </section>
            <section>
                <h1>Next Time on...</h1>
                <h1 class="blood">INF 362!</h1>
            </section>
            <section>
                <h1>Thing that comes next</h1>
            </section>
            <section>
                <h1>For Next Class</h1>
                <ul>
                    <li><a href=""></a></li>
                </ul>
            </section>
            <section>
                <h2>Unit 5 Preview</h2>
                <ul>
                    <li></li>
                </ul>
            </section>
            <section>
                <h1>For Next Unit</h1>
                <h1>Topic</h1>
                <ol>
                    <li><a href=""></a></li>
                </ol>
            </section>
        </div>
    </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    slideNumber: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    // Optional libraries used to extend on reveal.js
    dependencies: [
    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
    { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
    });
    </script>

</body>
</html>
